<h2>More information about {{computer.owner}}'s {{computer.type}}</h2>

<!-- {{update-rental rental=model update="update"}}

{{rental-detail rental=model destroyRental="destroyRental" destroyReview="destroyReview"}}

{{new-review saveReview="saveReview" rental=model}} -->
